

<!DOCTYPE html>
<html>
<head>
    <title>Mi Dashboard de Acciones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1 class="mt-3 mb-4 fw-bold text-center">Dashboard de Acciones</h1>

{% with request.GET.urlencode as current_params %}
<div class="d-flex flex-wrap align-items-center gap-4 bg-light p-3 rounded shadow-sm">
    <div class="d-flex align-items-center gap-2">
        <strong>Acciones:</strong>
        <a href="{% url 'dashboard' %}" class="btn btn-sm btn-outline-success">
           Todas
        </a>
        <a href="{% url 'admin:portfolio_stock_add' %}" class="btn btn-sm btn-outline-success">
            Nueva 
        </a>
    </div>

    <div class="vr"></div>

     <div class="d-flex align-items-center gap-2">
        <strong>Estrategia:</strong>
        <a href="{% url 'dashboard' %}?strategy=xt{% if current_params %}&{{ current_params }}{% endif %}" class="btn btn-sm {% if current_strategy == 'xt' %}btn-primary{% else %}btn-outline-primary{% endif %}">XTB</a>
        <a href="{% url 'dashboard' %}?strategy=bm{% if current_params %}&{{ current_params }}{% endif %}" class="btn btn-sm {% if current_strategy == 'bm' %}btn-primary{% else %}btn-outline-primary{% endif %}">B M</a>
        <a href="{% url 'dashboard' %}?strategy=qu{% if current_params %}&{{ current_params }}{% endif %}" class="btn btn-sm {% if current_strategy == 'qu' %}btn-primary{% else %}btn-outline-primary{% endif %}">Quant</a>
    </div>

    <div class="d-flex align-items-center gap-2">
        <strong>Trade:</strong>
        <a href="{% url 'dashboard' %}?trade_status=buy{% if current_params %}&{{ current_params }}{% endif %}" class="btn btn-sm {% if current_trade_status == 'buy' %}btn-success{% else %}btn-outline-success{% endif %}">Comprado</a>
        <a href="{% url 'dashboard' %}?trade_status=sell{% if current_params %}&{{ current_params }}{% endif %}" class="btn btn-sm {% if current_trade_status == 'sell' %}btn-danger{% else %}btn-outline-danger{% endif %}">Vendido</a>
        <a href="{% url 'dashboard' %}?trade_status=none{% if current_params %}&{{ current_params }}{% endif %}" class="btn btn-sm {% if current_trade_status == 'none' %}btn-secondary{% else %}btn-outline-secondary{% endif %}">Esperar</a>
    </div>

    <div class="d-flex align-items-center gap-2">
        <strong>Analizada:</strong>
        <a href="{% url 'dashboard' %}?analyzed=true{% if current_params %}&{{ current_params }}{% endif %}" class="btn btn-sm {% if current_analyzed == 'true' %}btn-info{% else %}btn-outline-info{% endif %}">✔ Sí</a>
        <a href="{% url 'dashboard' %}?analyzed=false{% if current_params %}&{{ current_params }}{% endif %}" class="btn btn-sm {% if current_analyzed == 'false' %}btn-warning{% else %}btn-outline-warning{% endif %}">❌ No</a>
        
    </div>

    <div class="vr"></div>

    <div class="d-flex align-items-center gap-2">
        <a href="{% url 'admin:index' %}" class="btn btn-sm btn-outline-dark">
            Ir al Admin
        </a>
        <form action="{% url 'admin:logout' %}" method="post" class="m-0">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-outline-dark">Salir</button>
        </form>
    </div>

</div>
{% endwith %}


<table class="table table-striped table-hover">
    <tr>
        <th class="text-center">Accion</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Precio</th>
        <th class="text-center">Fair Value</th>
        <th class="text-center">Estrategia</th>
        <th class="text-center">Analizada</th>
        <th class="text-center">Trade</th>
        <th class="text-center">Observaciones</th>
        <th class="text-center">Actualizar Precio</th>
    </tr>
    {% for stock in stocks %}
    <tr>
        <td class="text-center">
            <a href="{{ stock.admin_url }}">{{ stock.symbol }}</a>
        </td>
        
        <td class="text-center">{{ stock.name }}</td>
        <td class="text-center">{{ stock.price|floatformat:2 }}</td>
        <td class="text-center"></td>
        <td class="text-center">{{ stock.get_strategy_display }}</td>
        <td class="text-center">
            {% if stock.analyzed %}
            ✔
            {% else %}
            ❌
            {% endif %}
        </td>
        <td class="text-center">{{ stock.get_trade_status_display }}</td>
        <td class="text-center">{{ stock.Observaciones }}</td>
      
        <td class="text-center">
            <a href="{% url 'update_stock_price' stock.pk %}" class="btn btn-sm btn-outline-primary" title="Actualizar Precio">
               🔄
            </a>    
        </td>




    </tr>
    {% endfor %}
</table>


<!-- Bootstrap JS Bundle (con Popper) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>

